body {
  /* overflow: hidden; */
  min-height: 100vh;
  margin: 0;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("assets/mob1.png") no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}
.logo {
  position: absolute;
  width: 164px;
  height: 24px;
  top: 20px;
  left: calc(50% - 82px);
  z-index: 222;
}
.link {
  text-decoration: none;
  padding: 0;
  display: inline-block;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: rgba(247, 247, 247, 0.5);
  backdrop-filter: blur(10px);
  height: 100%;
}
.header {
  font-family: Khula;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #1B2644;
  width: 80%;
}
.information {
  width: 80vw;
  margin-top: 10px;
}
.inputLine {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.lable {
  font-family: Khula;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 144.2%;  
  color: #838383;
}
.labelRadio {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
.lableEmail {
  font-family: Khula;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 144.2%;  
  /* color: #838383; */
}
.radio {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   display: inline-block;
   width: 20px;
   height: 20px;
   padding: 2px;
   border: 1px solid #5C5C5C;
   box-sizing: border-box;
   background-clip: content-box;
   background-color: #5C5C5C;
   border-radius: 50%;
   outline: none;
   position: absolute;
}
.radio:checked {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 2px;
  border: 1px solid #336CFB;
  box-sizing: border-box;
  background-clip: content-box;
  background-color: #336CFB;
  border-radius: 50%;
  outline: none;
}
.radio:active {
  opacity: 0.5;
}
.textConteiner {
  padding: 0;
  margin-left: 40px;
}
.text {
  margin: 0;
  font-family: Khula;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 144.2%;
  color: rgba(17, 25, 46, 0.9);
}
.input {
  background: rgba(225, 225, 225, 0.5);
  border-radius: 10px;
  height: 52px;
  border: 0;
  outline: none;
  font-size: large;
  font-family: Khula;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 144.2%;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 17px;
  width: 100%;
}
.input::placeholder {  
  color: rgba(27, 38, 68, 0.2);
}
.name {
  width: 90%;
}
.day {
  width: 67px;
}
.month {
  width: 97px;
}
.year {
  width: 162px;
}
.zip {
  text-align: center;
  width: 50%;
}
select:invalid {
  color: rgba(27, 38, 68, 0.2);
}
option {
  color: black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: rgba(225, 225, 225, 0.5);
  outline: none;
  border: 0;
}
.tools {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 40%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.stepText {
  font-family: Khula;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 48px;
  color: #1B2644;
  margin: 0;

  position: absolute;
  width: 90px;
  height: 48px;
  left: calc(100% - 120px);
  top: 83px;
}
.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* outline: none; */
  background: #336CFB;
  border-radius: 8px;
  border: 0px;
  width: 225.48px;
  height: 56.91px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
}
.buttonText {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 144.2%;
  text-transform: capitalize;
  color: #FFFFFF;
}