body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("assets/back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo {
  position: absolute;
  width: 164px;
  height: 24px;
  left: 55px;
  top: 51px;
}
.link {
  text-decoration: none;
}
.container {
  position: absolute;
  width: 660px;
  height: 254.47px;
  left: 160px;
  top: 270px;
  word-wrap: break-word;
}
.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 144.2%;
  text-transform: capitalize;
  color: #283861;
}
.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* outline: none; */
  background: #336CFB;
  border-radius: 8px;
  border: 0px;
  width: 225.48px;
  height: 56.91px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
}
.buttonText {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 144.2%;
  text-transform: capitalize;
  color: #FFFFFF;
  width: 91.27px;
  height: 31.14px;
}
.arrow {

}